.skills-box{
  border: 0.2rem solid #0ABAB5;
  border-radius: 0.5rem;
  padding: 0.3rem;
  justify-content: space-evenly;
  align-items: start;
  width: 50%;
  height: fit-content;
  box-shadow: 0 0 0.5rem #0ABAB5;
}

.progress {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5px;
  box-shadow: 0 0 0.2rem #0ABAB5;
  padding: 2px;
}

.progress h6 {
  width: 75px;
  font-weight: bold;
  font-size: small;
  display: flex;
  color: white;
  justify-content: space-evenly;
 }
#per {
  color: #0ABAB5;
  font-weight: bold;
}
.bar {
  width: 10px;
  height: 5px;
  border-radius: 3rem;
  background: #0ABAB5;
  padding: 10px;
  margin: 10px;
  align-items: start;
  transition-property: width;
  font-size: small;
  color: black;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
  visibility: hidden;
}

.skills-content .progress:hover .bar {
  width: 90%;
  visibility: visible;
}

.skills-content .progress:hover .bar1 {
  width: 80%;
  visibility: visible;
}

.skills-content .progress:hover .bar2 {
  width: 65%;
  visibility: visible;
}

.skills-content .progress:hover .bar3 {
  width: 75%;
  visibility: visible;
}

.skills-content .progress:hover .bar4 {
  width: 85%;
  visibility: visible;
}